<!DOCTYPE html>

<html>
  <head>

    <title>Chess</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/chessboard-1.0.0.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.js') }}"></script>

  </head>
  <body>
      <h3>Game of Chess</h3>
      <p>

        You can push a piece just by typing its current position,
        followed by where you want it to go. Say you have a knight on f3, 
        and you want to move it to e5:
      </p>
      <p>
        Type 'f3e5' to push the knight. A piece in e5 would automatically be captured!
      </p>

      <div id="board" style="width: 400px"></div>
      <script>
        var fen_string = '{{data.fen}}';
        var board = ChessBoard('board', fen_string)
      </script>

      <p></p>
      <p>The engines last move was <b>{{data.engine_move}}</b></p>
      <p></p>
      <p>{{ data.status }}</p>
      <p></p>

      <form method="POST">
        <input name="move">
        <input type="submit" value="YOUR MOVE">
      </form>
      <p></p>
      <a href="/undo_move"><input type="button" value="UNDO MOVE"></a>
      <p></p>
      <a href="/stop_and_reset"><input type="button" value="STOP game / RESET position"></a>
      

      

  </body>
</html>
